<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
  <title>ABOUT</title>
  </script>
  <link href="https://fonts.googleapis.com/css?family=Forum|Raleway|Sacramento" rel="stylesheet">
  <style>
  body{
    background-color: #EA9DF9;
  }
  </style>
</head>

<body onload="start()">
  <div class="navfloat">
    <a id="left" href="/return/">return</a>
  </div>
  <h1 style ="text-align:center; font-size:70px; text-decoration:none;">About</h1>
  <main>
    <div id="navMenu"></div>
    <div>
    </main>
    <footer></footer>

  <h2 class="ab"> Mission Statement:</h2>
<p class="about">Be at ease and chat openly. <strong><em>"EASE"</strong></em> is a web app created by four teenage girls who wanted to create something to combat social issues such as mental health. Aligned with the sentiment that a problem half shared is a problem half solved this app encourages communications between users in hopes of creating a safe space for sharing issues, feelings, and building companionship. Here at <strong><em>EASE</em></strong>  we have created a web app that is  designed to give users a safe and comfortable environment, where they can converse openly with whomever they choose. By creating this app we anticipated that issues faced by people in their day to day lives can be assuaged through open discussion and companionship.
</p>

<h2 class="ab"> About Us: </h2>
<p class="about">Ease is a web app created by four teenage girls who wanted to create something to combat social issues such as mental health. Aligned with the sentiment that a problem half shared is a problem half solved this app encourages communications between users in hopes of creating a safe space for sharing issues, feelings,  and building companionship..
</p>
  </body>
  </html>
