<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
    <title>CHAT</title>
  <style>
  body{
    background-color: rgba(221,221,221,0.3);
  }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento" rel="stylesheet">
</head>

<body onload="start()">
  <main>
    <div class="navfloat">
      <h2 id="left">
        chat
      </h2>
      <a id="right" href="/return/">return</a>
    </div>

    <h3 style ="text-align:center;font-size:40px">
      who would you like to speak to?
    </h3>

    <div class="choices">
      <a href="">someone random</a>
      <a href="">someone your age</a>
      <a href="">female</a>
      <a href="">male</a>
      <a href="">non-binary</a>
    </main>
    <footer></footer>
  </body>
  </html>
