<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
    <title>CHAT</title>
  <style>
  body{
    background-color: rgba(221,221,221,0.3);
  }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento" rel="stylesheet">
</head>

<body onload="start()">
  <main>
    <div class="navfloat">
      <h2 id="left">
        chat
      </h2>
      <a id="right" href="/return/">return</a>
      <div id="logout"></div>
    </div>
    <div id="google_translate_element"></div>
    <script type="text/javascript"> function googleTranslateElementInit() { new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');}</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <h3 style ="text-align:center;font-size:40px">
      what would you like to talk about?
    </h3>

    <div class="choices">
      <a href="/mentalhealth/">mental health</a>
      <a href="/family/">family issues</a>
      <a href="/school/">school issues</a>
      <a href="/relationship">relationship problems</a>
      <a href="/random/">random</a>
    </main>
    <footer></footer>
  </body>
  </html>
