<!DOCTYPE html>
<html>
<head>
  <title>DIARY</title>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento" rel="stylesheet">
<style>
body{
    background-color: rgba(221,221,221,0.3);
  }
</style>
</head>

<body onload="start()">
  <div id="google_translate_element"></div>
  <script type="text/javascript"> function googleTranslateElementInit() { new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');}</script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <div class="navfloat">
    <a id="left" href="/return/">return</a>
    <a id = "right" href="/logout/">logout</a>
  </div>
  <h1 style ="text-align:center;font-size:70px; text-decoration:none;font-family:Sacramento">About</h1>
  <main>

    <div id="navMenu"></div>

    <form action="/save/" method="post" style="display:inline">
      <textarea name='diary' id='name' rows=30 cols=150 style='margin-left:30px; margin-top: 30px;'></textarea>
      <input type='submit' value='save and exit'>
    </form>
    <form action="/show/" style='display:inline'>
      <input type='submit' value='See past entries'>
    </form>
  </main>
<footer></footer>

</body>
</html>
