<!DOCTYPE html>
<html>
<head>
  <title>DIARY</title>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento" rel="stylesheet">
<style>
body{
  background-color: #A09DF9;
}
</style>
</head>

<body onload="start()">
  <div class="navfloat">
    <a id="left" href="/return/">return</a>
  </div>
  <h1 style ="text-align:center; font-size:70px; text-decoration:none;">Diary</h1>
  <main>

    <div id="navMenu"></div>
  </main>
  <footer></footer>
  <p><textarea id="enteredwords" rows="100" cols ="150">Start typing...</textarea></p>
</body>
</html>
