<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
  </script>
    <title>EASE</title>
  <style>
  body {
    height: 100%;
    background-image: url("https://s8.postimg.cc/ujgcctm4l/background.jpg");
    padding: 25px;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
</style>
<link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento" rel="stylesheet">
<div id="font"></div>
</head>
<div id="translate"></div>

<body onload="start()">
  <h1 style ="text-align:center; font-size:70px; text-decoration:none;">Welcome</h1>
  <main>
    <div id="navMenu"></div>
    <div id="google_translate_element"></div>
    <script type="text/javascript"> function googleTranslateElementInit() { new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');}</script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <div>
    </main>
    <footer></footer>
  </body>
  </html>
