<!DOCTYPE html>
<html lang="en-US">

<head>
  <link rel = "stylesheet" href = "../static/css/site.css">
  <script src="../static/js/site.js"></script>

</head>
<body onload="OnStart();">
    <a href="/link1/"> Register </a>
    <a href ="/link2">Log in </a>

  <!-- <form id='login' method='post' accept-charset='UTF-8' action="/my-link/">
  <fieldset >
  <legend>Login</legend>
  <input type='hidden' name='submitted' id='submitted' value='1'/>

  <label for='username' >Username:</label>
  <input type='text' name='username' id='username'  maxlength="50" />

  <label for='password' >Password:</label>
  <input type='password' name='password' id='password' maxlength="50" />

  <input type='submit' name='submit' value='submit' id='submit'>

<div id="status"></div>

  </fieldset>
  </form>
  <script>
  var input = document.getElementById("login");
  input.addEventListener("keyup",
  function(event){
    event.preventDefault();
    if(event.keyCode===13){
      document.getElementById("button").click();
    }
  });
  </script> -->
</body>
</html>
