<!DOCTYPE html>
<html>
<head>
  <title>DIARY</title>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento" rel="stylesheet">
<style>
body{
    background-color: rgba(221,221,221,0.3);
}

.diarybox{
  color: black;
  border: 1px solid black;
  padding: 40px 30px;
  width: 400px;
  height:auto;
  margin:auto;
  margin-top: 30px;
  display:none;
}

button {
  display: block;
  margin:auto;
  margin-top: 20px;
}

</style>
</head>

<body onload="start()">
  <div id="google_translate_element"></div>
  <script type="text/javascript"> function googleTranslateElementInit() { new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');}</script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <div class="navfloat">
    <a id="left" href="/return/">return</a>
    <a id = "right" href="/logout/">logout</a>
  </div>
  <h1 style ="text-align:center; font-size:70px; text-decoration:none;">Archive</h1>

  <div id="navMenu"></div>
  <div id="entries"></div>
  <script>
    var someJavaScriptVar =  {{AllEntries|tojson}};
    var username = "{{username}}";
    var allentries = [];
    jsonlen=Object.keys(someJavaScriptVar).length;
    for (var i = 0; i < jsonlen; i++){
      allentries.push(someJavaScriptVar[i])
    }
    var diaryentries = [];
    for (var i=0; i<jsonlen; i++){
      if (allentries[i]["username"] == username){
        diaryentries.push(allentries[i])
      }
    }
    printitems(diaryentries);

    function printitems(diaryentries){
      entries ="";
      var length = diaryentries.length;
      for (var i=length-1; i>=0; i--){
        newentry = "<button onclick=\"showDiv(" + i + ")\">" + "Entry from " + diaryentries[i]["date"]+ "</button><div style=\"display:none;\" class=\"diarybox\" id=\"" + i + "\">" + "<h3> Diary entry from "+ diaryentries[i]["date"] + " by " + diaryentries[i]["username"] + ":</h3>" + diaryentries[i]["diary"] + "</div>" + "<br>";
        entries += newentry;
      }
      document.getElementById("entries").innerHTML = entries;
      }

      function showDiv(i){
        var x = document.getElementById(i)
        if (x.style.display === "none") {
           x.style.display = "block";
        } else {
           x.style.display = "none";
        }
      }
  </script>


  </main>
<footer></footer>

</body>
</html>
