<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" href = "/../static/css/site.css">
    <script src="/../static/js/site.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento" rel="stylesheet">
    </head>

<body onload="start()">

<main>
<div class="navfloat">
  <h2 id="left">
    chat
  </h2>
  <a id="right" href="homepage.html">return</a>
</div>

<h3 style ="text-align:center;">
  who would you like to speak to?
</h3>

<div class="choices">
<a href="">someone random</a>
<a href="">someone your age</a>
<a href="">female</a>
<a href="">male</a>
<a href="">non-binary</a>
</main>
<footer></footer>
</body>
</html>
