<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "../static/styles/site.css">
  <script src="../static/js/site.js"></script>
  <title>RESOURCES</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway|Sacramento|" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Forum" rel="stylesheet">
  <style>
  body{
    /* background-color:rgba(221,221,221,0.3); */
    background-image: url("http://static.tumblr.com/5uvtpxx/Dzlmplaee/light__4_.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
  }
  #txt{
    text-align:left;
    /* font-family: "Forum" */
    border: none;
    /* background-color: #AAB7B8; */
    border-radius: 8px;
    padding: 2%;
    margin-bottom: 1%;
    opacity= 60;
  }
  </style>
</head>

<body onload="start()">
  <div class="navfloat">
    <a id="left" href="/return/">return</a>
    <a id = "right" href="/logout/">logout</a>
  </div>
  <div id="google_translate_element"></div>
  <script type="text/javascript"> function googleTranslateElementInit() { new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');}</script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <h1 style ="text-align:center; font-size:70px; text-decoration:none;">Resources</h1>
  <main>
    <div id="navMenu"></div>
    <div>
    </main>
    <footer></footer>
    <div class="a">
      <h2 style="text-align:center; font-family:courier; color:darkblue">In order to provide assistance that may not be found in our chatrooms we have provided these hotlines for your use if you deem them necessary.</em> </h3></p>
        <ul id="txt">
        <p><em><h3>Battered Women and their Children 1-800-603-HELP </h3>
          If you are a victim of domestic violence and are looking for assistance of any sort please call this hotline.
        </p>
        <p><em><h3   > Crisis Pregnancy Hotline Number 1-800-67-BABY-6 </h3>
          If you are pregnant and would like to explore your options contact this hotline.
        </p>
        <p><em><h3   >Deaf Hotline 1-800-799-4TTY </em> </h3>
          If you are Deaf and in need of assistance of any sort or have any queries please contact this hotline.
        </p>
        <p><em><h3   >Drug Abuse National Helpline 1-800-662-4357 </em> </h3>
          If you deal with substance abuse and want to curb your addiction please this hotline.
        </p>
        <p><em><h3   > Eating Disorders Awareness and Prevention 1-800-931-2237 </em> </h3>
          If you deal with Anorexia nervosa or Bulimia please call this hotlines.
        </p>
        <p><em><h3   > Family Violence Prevention Center 1-800-313-1310 </em> </h3>
          If you have seen or experienced ongoing verbal or physical Violence in your home please.
        </P>
        <p><em><h3   >Gay and Lesbian National Hotline 1-888-843-4564 </em> </h3>
          Members of the LGBTQ+ community seeking assistance of ANY form please call this hotline.
        </p>
        <p><em><h3   >Girls and Boys Town 1-800-448-3000 </em> </h3>
          Non-profit geared towards caring for children and families.
        </p>
        <p><em><h3   >Hearing Impaired 1-800-448-1833 </em> </h3>
          If you have a hearing impairment and need assistance please contact this hotline.
        </p>

        <p><em><h3   > National Domestic Violence Hotline:
          1-800-799-SAFE </em> </h3>
          If you deal with physical or verbal abuse at home and are looking for a way out please call this hotline.
        </p>
        <p><em><h3   > National Runaway Safe line 1-800-RUNAWAY (786-2929) </em> </h3>
          Aimed towards runaway and homeless teens this hotline offers resources to them as well as their families.
        </p>
        <p><em><h3   > National Sexual Assault Hotline 1-800-656-HOPE (4673) </em> </h3>
          Any form of Sexual abuse (unwanted sexual contact) is unacceptable if you have faced sexual abuse or are still facing sexual abuse please call this hotline.
        </p>
        <p><em><h3   > Suicide prevention hotline:
          1-800-273-8255 </em> </h3>
          Hotline geared towards the prevention of suicides. If you have experienced suicidal thoughts or actions or are seriously contemplating suicide give this hotline a called
        </p>
        <p><em><h3   >Teen Hope Line 1-800-394-HOPE </em> </h3>
          If you are a teen in unfortunate circumstances and would like assistance please contact this line.
        </p>
        <p><em><h3   >Youth Crisis Hotline 1-800-448-4663 </em> </h3>
          If you are a youth in need of any form of assistance please contact this hotline
        </p>
      </ul>
      </body>
      </html>
