h1 {
  font-family: "Sacramento";
  font-weight:normal;
  font-size: 2000px
}
a, h1, h2, h3{
  color: #000000;
}

h2{
  font-family:"Raleway";
}

.c {
  text-indent: 50px;
  font-size: 10px;
  color: black;}
  h3 {
    margin-top:auto;
    margin-bottom:auto;
    font-size:25px;
    font-family:"Forum"
  }
  ul {
    list-style:none;
    margin:0;
  }
  body {
    margin: 0;
  }

  p{
    text-align: center;
  }

  main {
    z-index: 1;
    height: 100%;
    /* background-color: #ADD8E6; */
  }
  /* FOR MAIN NAVIGATION BAR!*/
  .navfloat {
    text-align:center;
    list-style: none;
    overflow: hidden;
    background-color: rgba(221,221,221,0.3);
  }

  .navfloat a {
    text-decoration:none;
    padding: 100px 50px;
    font-size:30px;
    font-family:"Raleway";


  }
  .navfloat a:hover{
    background-color: #98ABCA;
  }

  .navfloat #left{
    float: left;
    padding: 0px 10px;
  }
  .navfloat #right{
    float:right;
    float: right;
    padding: 11px 10px;
    margin-top: 4px;
    margin-right: 6px;
    font-family:"Raleway";
  }
/* About page css */
  .column {
    float: right;
    width: 25%;
    padding:2px;
    /* padding-left: 3px; */
    padding-right: 3px;
  }
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: black;
  }

  /* FOR VERTICAL NAVIGATION BAR!*/

  .choices {
    list-style: none;
    text-align:center;
  }
  .choices a {
    display: block;
    text-decoration:none;
    padding: 30px ;
    font-size:30px;
    font-family:"Raleway";

  }
  .choices a:hover{
    background-color: #98ABCA;
    /* 425d89; */
  }
  .ab{
    font-size: 30px;
    font-family: "Sacramento"
  }
  .about{
    font-size: 20px;
    text-align:left;
    font-family: "Forum"
  }
  .slide{
    width:50%;
  }


  .btn {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .btn:hover span {
    padding-right: 25px;
  }

  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
