h1 {
  font-family: "Sacramento";
  font-weight:normal;
  font-size: 2000px
}

a, h1, h2, h3{
  color: #000000;
}

h2{
  font-family:"Raleway";
}

.c {
    text-indent: 50px;
    font-size: 10px;
    color: black;}
h3 {
  margin-top:auto;
  margin-bottom:auto;
  font-size:25px;
  font-family:"Forum"
}
ul {
  list-style:none;
  margin:0;
}
body {
  margin: 0;
}


p{
  text-align: center;
}


main {
  z-index: 1;
  height: 100%;
  /* background-color: #ADD8E6; */
}

/* FOR MAIN NAVIGATION BAR!*/
.navfloat {
    text-align:center;
    list-style: none;
    overflow: hidden;
    background-color: rgba(221,221,221,0.3);
}

.navfloat a {
   text-decoration:none;
   padding: 100px 50px;
   font-size:30px;
   font-family:"Raleway";


}
.navfloat a:hover{
  background-color: #98ABCA;
}

.navfloat #left{
  float: left;
  padding: 0px 10px;
}
.navfloat #right{
  float:right;
  float: right;
  padding: 11px 10px;
  margin-top: 4px;
  margin-right: 6px;
  font-family:"Raleway";
}

/* FOR VERTICAL NAVIGATION BAR!*/

.choices {
    list-style: none;
    text-align:center;
}

.choices a {
   display: block;
   text-decoration:none;
   padding: 30px ;
   font-size:30px;
   font-family:"Raleway";

}
.choices a:hover{
  background-color: #98ABCA;
  /* 425d89; */
}
.ab{
  font-size: 30px;
  font-family: "Sacramento"
}
.about{
  font-size: 20px;
  text-align:left;
  font-family: "Forum"
}
